header{
  position: sticky;
  top: 0;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #393;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: width .5s;
}

ul li a.active {
  background-color: #30038a;
}

ul li:not(.active):hover{
  background-color: #cf1204;
}
