ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #393;
  display: flex;
  justify-content: center;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: width .5s, background-color .5s;
}

ul li a.active {
  background-color: #529;
}

ul li a:hover {
  background-color: #1a1;
  flex: 2; 
}
